/* The CSS for the member grid displayed in the team page */

.CardSection {
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}

.TerrificMemberCard {
    display: inline-block;
    width: calc(33% - 80px);
    margin: 15px;
    padding: 15px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 20px;
    height: calc(150px + em);
    cursor: pointer;
}

.TerrificMemberImg {
    width: 128px;
    margin: auto;
    display: block;
    position: relative;
    align-self: center;
    border-radius: 30px;
}