/* The CSS for Terrific Tea's site! */
/* Any questions? Ask Odyssey346#9848, Commandblock6417#9366 or Rexowogamer#1183 on Discord or @Odyssey346 on Telegram. */
@font-face {
  font-family: Titillium Web Regular;
  src: url(../src/fonts/TitilliumWeb-Regular.ttf);
}
body {
  background: rgb(20, 20, 20);
  font-family: 'Titillium Web Regular', sans-serif;
  color: white
}

header {
  background: #3A3A3A;
  width: 100%;
  padding: 8px 4px;
  border-radius: 16px;
  position: relative;
}
a { 
  color: inherit; 
} /* This allows a HTML redirect to have the same color as the text before the redirect, used in the footer. Neat, ain't it? */

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 100;
  padding: 7px 7px;
  border-radius: 0px;
  background: gray;
  bottom: 0;
  z-index: 0;
}


.center {
  text-align: center;
  /* border: 3px solid green; */
}

header nav ul {
  margin-top: 0.5em;
}
 
header nav ul li {
  display: inline;
  margin: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  background-color: #00b3b3; /* turquoise */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.5s;
}

header nav ul li:after a {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
header nav ul li:hover a {
  padding-right: 25px;
  padding-left: 25px;
}

header nav ul li:after a:hover {
  padding-right: 25px;
  padding-left: 25px;
}

h1 {
  color: lightskyblue;
}
h5 {
  color: green;
}


.button {
  border: none;
  color: #00b3b3;
  padding: 24px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
  .headerbutton:hover {
    background-color: #4CAF50; /* light-green like color ig */
    color: white;
  }

  .headerbutton {
    background: #00b3b3; /*teal*/
    color: white;
    border: 2px rgb(35, 35, 35);
    transition-duration: 0.4s;
    border-radius: 16px;   
    font-size: 20px;
    height: 32px;
    min-width: 100px;
    max-width: 200px;
  }

  .terrificbutton {
    border: 2px rgb(35, 35, 35);
    transition-duration: 0.4s;
    border-radius: 16px;   
    font-size: 20px;
    height: 64px;
    max-width: 256px;
    margin-bottom: 10px;
  }

  #DiscordSupportServerButton {
    background: #7289DA; 
    color: #fff;
  }
  #DiscordSupportServerButton:hover {
    background: #fff;
    color: #7289DA;
  }
  
  #GitHubOrgButton {
    background: #0366d6; 
    color: #fff;
  }
  #GitHubOrgButton:hover {
    background: #fafbfc;
    color: #0366d6;
  }
  
  #TwitterButton {
    background: #1da1f2; 
    color: #fff;
  }
  #TwitterButton:hover {
    background: #fff;
    color: #1da1f2;
  }

  .sociallink {
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: 0px;
  }